.navbar-toggler:focus{
    box-shadow:unset!important
}

.active {
    background: white;
    color: #0E508F;
    border-radius: 30px;
}


@media only screen and (max-width: 767px) {
    .active{
        background: unset;
        color: white!important;
        border-radius:unset;
    }
}