.navbar-toggler:focus{
    box-shadow:unset!important
}

.active {
    background: white;
    color: #0E508F;
    border-radius: 30px;
}

.mainBtn-1 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
    .active{
        background: unset;
        color: white!important;
        border-radius:unset;
    }
}