* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}
@font-face {
    font-family: "Helvetica-light";
    src: url("../FONTS/HelveticaLightRegular.otf");
}

.upperDiv span {
    font-style: normal;
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;

}

.nav-link {
    color: white;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}
.navLogIn a{
    font-weight: 700;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.navAccount {
    background: #90DD01;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.headerFeatures h1 {
    font-weight: 700;
    font-size: 5vw;
    background: linear-gradient(91.76deg, #0E508F 3.27%, #A7EB2B 142.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.headerFeatures p {
    font-weight: 400;
    font-size: 2vw;
}
.headingSpan-1{
    color: rgba(14, 80, 143, 0.41);;
}
.headingSpan-2{
    color: #0E508F;
}
.headingSpan-3{
    color: #A7EB2B;
}

.boxInfoImg {
    background: rgba(14, 80, 143, 0.09);
}

.greenBox {
    background: #F2FCDF;
}

.desktop {
    width: 100%;
}

.boxWriting h1 {
    font-weight: 700;
    font-size: 2.8vw;
    color: #0E508F;
}

.boxWriting p {
    font-family: "Helvetica-light";
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #14416E;
}

.innerBox  {
    min-height: 35vh;
}
.innerBox img {
    width: 20%;
}

.innerBox h4 {
    font-weight: 700;
    font-size: 1.1vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.innerBox p {
    font-family: "Helvetica-light";
    font-size: 1vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.download h1 {
    font-weight: 700;
    letter-spacing: 0.03em;
}

.download p {
    font-family: "Helvetica-light";
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}

.footer {
    background: #0E508F;
}

.footerInfo {
    font-family: "Helvetica-light";
    font-size: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footer h3{
    font-weight: 700; 
    font-size: 20px;
}
.footer li a{
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
    width: 65%;
}

.footerSubscribeButton input:focus {
    outline: none;
}

.footerSubscribeButton input::placeholder {
    color: white;
}

.footerSubscribeButton button {
    border: none;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #0E508F;
}

.footerCopyRight p {
    font-size: 1.3vw;
}
/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }

    .navLogIn a {
        font-size: 3vw;
        color: white;
        text-align: center;
    }

    .headerFeatures h1 {
        font-size: 10vw;
    }

    .headerFeatures p {
        font-size: 5vw;
    }

    .boxWriting h1 {
        font-size: 6vw;
        text-align: center;
    }

    .boxWriting p {
        font-size: 17px;
        text-align: center;
    }
    .innerBox  {
        min-height: 30vh;
    }
    .innerBox img {
        width: 20%;
    }

    .innerBox h4 {
        font-size: 2.6vw;
    }

    .innerBox p {
        font-size: 3vw;
    }
    .footerSubscribeButton input {
        width: 74%;
    }

    .footerSubscribeButton button {
        font-size: 2vw;
    }

    .list-unstyled a.text-light {
        font-size: 2vw;
    }

    .footerIcon i {
        font-size: 6vw;
    }

    .footerCopyRight p {
        font-size: 3vw;
    }
}
/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 576px) {
    .footerSubscribeButton input {
        width: 62%;
    }
    .footerSubscribeButton button {
        font-size: 3vw;
        font-weight: 700;
    }
    .list-unstyled a.text-light {
        font-size: 3.3vw;
    }
    .footerInfo {
        font-family: "Helvetica-light";
        font-size: 13px;
    }
}