* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-light";
    src: url("../FONTS/HelveticaLightRegular.otf");
}

.upperDiv a {
    font-style: normal;
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;
    border-radius: 30px;
}

.nav-link {
    color: white;
}

.navHover :hover {
    background: #5d86ad;
    color: white !important;
    border-radius: 30px;
}


.nav-link {
    color: white;
}

.navHover :hover {
    background: #5d86ad;
    color: white !important;
    border-radius: 30px;
}

.navLogIn:hover {
    background: #5d86ad;
    color: white !important;
}


.navAccount:hover {
    background: white;
    color: #0E508F !important;
}

.dropdown-menu li a:hover .navHover {
    color: white !important;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 700;
    font-size: 16px;
    color: #0E508F;
    text-align: center;
}

.navAccount {
    font-weight: 700;
    font-size: 16px;
    background: white;
    color: #0E508F !important;
    text-align: center;
}

.headerFeatures h1 {
    font-weight: 700;
    font-size: 4vw;
    color: #0E508F;
}

.headerFeatures p {
    font-weight: 400;
    font-size: 2vw;
}

.headingSpan-1 {
    color: rgba(14, 80, 143, 0.41);
    ;
}

.headingSpan-2 {
    color: #0E508F;
}

.headingSpan-3 {
    color: #A7EB2B;
}

.boxInfoImg {
    background: rgba(14, 80, 143, 0.09);
}

.greenBox {
    background: #F2FCDF;
}

.desktop {
    width: 100%;
}

.boxWriting h1 {
    font-weight: 700;
    font-size: 2.8vw;
    color: #0E508F;
}

.boxWriting p {
    font-family: "Helvetica-light";
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #14416E;
}

.innerBox {
    min-height: 35vh;
}

.innerBox img {
    width: 20%;
}

.innerBox h4 {
    font-weight: 700;
    font-size: 1.1vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.innerBox p {
    font-family: "Helvetica-light";
    font-size: 1vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.download h1 {
    font-weight: 700;
    letter-spacing: 0.03em;
}

.download p {
    font-family: "Helvetica-light";
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}

.footer {
    /* background: #0E508F; */
    background: #14416E;
}

.text-blueFooter {
    color: rgba(20, 65, 110, 1);
}

.footer {
    background: rgba(225, 241, 255, 0.85);
}

.footerInfo {
    font-family: "Helvetica-light";
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(20, 65, 110, 1);
}

.footer h3 {
    font-weight: 700;
    font-size: 20px;
}

.footer li a {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(20, 65, 110, 1);
}

.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
}

.footerSubscribeButton input:focus {
    outline: none;
}

.footer li p {
    font-size: 16px;
}

.footer li p {
    font-size: 1.2vw;
}

.footerCopyRight p {
    font-size: 16px;
}

.footerCopyRight {
    border-top: 1px solid rgba(14, 80, 143, 1)
}

/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }

    .navLogIn a {
        text-align: center;
    }

    .headerFeatures h1 {
        font-size: 10vw;
    }

    .headerFeatures p {
        font-size: 5vw;
    }

    .boxWriting h1 {
        font-size: 6vw;
        text-align: center;
    }

    .boxWriting p {
        font-size: 17px;
        text-align: justify;
    }

    .innerBox {
        min-height: 30vh;
    }

    .innerBox img {
        width: 20%;
    }

    .innerBox h4 {
        font-size: 2.6vw;
    }

    .innerBox p {
        font-size: 3vw;
    }

}

/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 576px) {

    .navLogIn,
    .navAccount {
        font-size: 3vw;
        text-align: center;
    }


    .innerBox {
        min-height: 26vh;
    }

    .innerBox p {
        font-size: 2.5vw;
    }



}