* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}
@font-face {
    font-family: "Helvetica-light";
    src: url("../FONTS/HelveticaLightRegular.otf");
}
.upperDiv span {
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;
    border-radius: 30px;
}

.nav-link {
    color: white;
}

.navHover a:hover {
    background: #0E508F;
    color: white !important;
}


.navLogIn:hover {
    background: #5d86ad;
    color: white !important;
}


.navAccount:hover {
    background: white;
    color: #0E508F;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 500;
    color: white;
    text-align: center;
}

.navLogIn a {
    font-weight: 700;
    font-size: 16px;
    color: #0E508F;
    text-align: center;
}

.navAccount {
    font-weight: 500;
    font-size: 1.3vw;
    background: white;
    text-align: center;
}
.mainBtn-1 a {
    font-weight: 700;
    font-size: 1.3vw;
    text-align: center;
    color: #FFFFFF;
}
.mainContent h1 {
    font-weight: 700;
    font-size: 4vw;
    color: #0E508F;
}

.green {
    color: #90DD01;
}

.mainContent p {
    font-family: "Helvetica-light";
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}


.mainBtn-1 {
    background: linear-gradient(98.06deg, #0E508F 27.69%, #0E508F 111.09%);

}

.mainBtn-2 {
    background: rgba(14, 80, 143, 0.07);
}

.mainBtn-1 a {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.mainBtn-2 a {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #0E508F;
}

#story {
    background: rgba(14, 80, 143, 0.09);
}

.storyContent h3 {
    font-weight: 700;
    font-size: 2.3vw;
    color: #0E508F;
}

.storyContent p {
    font-family: "Helvetica-light";
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #14416E;
}

.storyContent h5 {
    font-weight: 400;
    font-size: 1.4vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.clients h1 {
    font-weight: 700;
    font-size: 3vw;
    color: #0E508F;
}

.clients p {
    font-family: "Helvetica-light";
    font-size: 1.7vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.requestAccount-2 {
    background: #0E508F;
}
.navAccount-2 {
    background: #90DD01;
    font-weight: 700;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.requestAccount-2 h1 {
    font-weight: 700;
    font-size: 2.8vw;
    color: #FFFFFF;
}

.enabling {
    font-family: "Helvetica-light";
    font-size: 1.2vw;
}

.bgGreen {
    background: linear-gradient(99.02deg, #0E508F -0.53%, #14416E 89.66%);
}

.projects h1 {
    font-weight: 700;
    font-size: 3.5vw;
    color: #0E508F;
}

.projects h3 {
    font-weight: 700;
    font-size: 2.2vw;
    letter-spacing: 0.03em;
}

.projects p {
    font-family: "Helvetica-light";
    font-size: 1.5vw;
    letter-spacing: 0.03em;
}

.bg-mobile {
    width: 40%;
}

.requestAccount {
    background: #0E508F;
}

.requestAccount h1 {
    font-weight: 700;
    font-size: 2.5vw;
    color: #FFFFFF;
}

.requestAccount p {
    font-family: "Helvetica-light";
    font-size: 1.2vw;
}
.signInAccount{
    background: white;
}
.signInAccount:hover{
    background: white;
}
.signInAccount a{
    color: #0E508F;
    font-weight: 700;
    font-size: 16px;
}


.footer {
    background: #0E508F;
}

.footerInfo {
    font-family: "Helvetica-light";
    font-size: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footer h3{
    font-weight: 700; 
    font-size: 20px;
}
.footer li a{
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
}

.footerSubscribeButton input:focus {
    outline: none;
}

.footerSubscribeButton input::placeholder {
    color: white;
}

.footerSubscribeButton button {
    border: none;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footerSubscribeButton button a {
    color: #0E508F;
}

.footer li p{
    font-size: 1.2vw;
}
.footerCopyRight p {
    font-size: 1.3vw;
}


/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }
    .navLogIn a {
        text-align: center;
    }

    .mainContent {
        padding: 5px 10px !important;
    }

    .mainContent h1 {
        font-size: 8vw;
        text-align: center;
    }

    .mainContent p {
        font-size: 3.7vw;
        color: #0E508F;
        text-align: center;
    }

    .mainForm {
        justify-content: center;
    }

    .mainBtn-1 span {
        font-size: 2.4vw;
        padding: 10px 8px !important;
    }

    .mainBtn-2 span {
        font-size: 2.4vw;
        padding: 10px 8px !important;
    }

    .storyContent h3 {
        font-size: 5.5vw;
    }

    .storyContent p {
        font-size: 3.2vw;
    }

    .storyContent h5 {
        font-size: 3.8vw;
    }
    .signInAccount a {
        font-size: 14px;
    }
    .clients h1 {
        font-size: 5vw;
    }

    .clients p {
        font-size: 4vw;
    }

    .requestAccount-2 h1 {
        font-size: 3.7vw;
        line-height: 25px;
    }
    .enabling {
        font-size: 2.2vw;
    }
    .navAccount-2 {
        font-size: 2vw;
    }

    .bg-mobile {
        width: 100%;
    }

    .projects h1 {
        font-size: 5.4vw;
    }

    .projects h3 {
        font-size: 3.5vw;
    }
    .projects p{
        font-size: 2.4vw;
    }

    .requestAccount h1 {
        font-size: 5vw;
    }

    .requestAccount p {
        font-size: 3vw;
    }

    .signInAccount {
        background: white;
        color: #0E508F;
        font-weight: 700;
        font-size: 3vw;
    }


    .footerSubscribeButton button {
        font-size: 2vw;
    }

    .list-unstyled a.text-light {
        font-size: 2vw;
    }
    .footer li p{
        font-size: 2vw;
    }

    .footerIcon i {
        font-size: 6vw;
    }

    .footerCopyRight p {
        font-size: 3vw;
    }
}
/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 576px) {
    .navLogIn a {
        font-size: 3vw;
        text-align: center;
    }
    .mainBtn-1 a {
        font-size: 10px;
        padding: 10px 8px !important;
    }
    .requestAccount-2 h1 {
        font-size: 3.8vw;
        line-height: 25px;
    }
    .enabling {
        font-size: 3.2vw;
    }
    .navAccount-2 {
        font-size: 2.5vw;
    }
    .signInAccount a {
        font-size: 10px;
    }
    .footer li p {
        font-size: 3vw;
    }
    .footerSubscribeButton button {
        font-size: 3vw;
        font-weight: 700;
    }
    .list-unstyled a.text-light {
        font-size: 3.3vw;
    }
    .footerInfo {
        font-family: "Helvetica-light";
        font-size: 13px;
    }
}