* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}

.upperDiv span {
    font-weight: 400;
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;

}

.nav-link {
    color: white;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.navAccount {
    background: #90DD01;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.mainContent h1 {
    font-weight: 700;
    font-size: 5vw;
    color: #0E508F;
}

.green {
    color: #90DD01;
}

.mainContent p {
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}


.mainBtn-1 {
    background: linear-gradient(98.06deg, #0E508F 27.69%, #0E508F 111.09%);

}

.mainBtn-2 {
    background: rgba(14, 80, 143, 0.07);
}

.mainBtn-1 span {
    font-weight: 700;
    font-size: 1.3vw;
    text-align: center;
    color: #FFFFFF;
}

.mainBtn-2 span {
    font-weight: 700;
    font-size: 1.3vw;
    text-align: center;
    color: #0E508F;
}

.story {
    background: rgba(14, 80, 143, 0.09);
}

.storyContent h3 {
    font-weight: 700;
    font-size: 2.5vw;
    color: #0E508F;
}

.storyContent p {
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: #14416E;
}

.storyContent h5 {
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.clients h1 {
    font-weight: 700;
    font-size: 3vw;
    color: #0E508F;
}

.clients p {
    font-weight: 400;
    font-size: 2.2vw;
    letter-spacing: 0.03em;
    color: #0E508F;
}

.requestAccount-2 {
    background: #0E508F;
}

.requestAccount-2 h1 {
    font-weight: 700;
    font-size: 2.8vw;
    color: #FFFFFF;
}

.requestAccoun-2 p {
    font-weight: 400;
    font-size: 1.2vw;
}

.bgGreen {
    background: linear-gradient(98.25deg, #0E508F 22.36%, #A7EB2B 98.94%);
}

.projects h1 {
    font-weight: 700;
    font-size: 3.5vw;
    color: #0E508F;
}

.projects h3 {
    font-weight: 700;
    font-size: 2.5vw;
    letter-spacing: 0.03em;
}

.projects p {
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
}

.bg-mobile {
    width: 40%;
}

.requestAccount {
    background: #0E508F;
}

.requestAccount h1 {
    font-weight: 700;
    font-size: 2.6vw;
    color: #FFFFFF;
}

.requestAccount p {
    font-weight: 400;
    font-size: 1.3vw;
}

.signInAccount {
    background: white;
    color: #0E508F;
    font-weight: 700;
    font-size: 1.2vw;
}


.footer {
    background: #0E508F;
}

.footerIcon {
    color: white;
}

.footerIcon i {
    font-size: 2vw;
}

.footerInfo {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}

.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
    width: 51%;
}
.footerSubscribeButton input:focus {
    outline: none;
}
.footerSubscribeButton input::placeholder {
    color: white;
  }

.footerSubscribeButton button {
    border: none;
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #0E508F;
}

.footerCopyRight p {
    font-size: 1.3vw;
}

.footerCopyRight p {
    font-size: 1.3vw;
}


/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }

    .navLogIn {
        font-size: 2.5vw;
        color: white;
        text-align: center;
    }

    .navAccount {
        font-size: 2.5vw;
        color: white;
        text-align: center;
    }

    .mainContent {
        padding: 5px 10px !important;
    }

    .mainContent h1 {
        font-size: 7vw;
        text-align: center;
    }

    .mainContent p {
        font-size: 4vw;
        color: #0E508F;
        text-align: center;
        padding: 0px 30px !important;
    }

    .mainForm {
        justify-content: center;
    }

    .mainBtn-1 span {
        font-size: 2.4vw;
        padding: 10px 8px !important;
    }

    .mainBtn-2 span {
        font-size: 2.4vw;
        padding: 10px 8px !important;
    }

    .storyContent h3 {
        font-size: 5.5vw;
    }

    .storyContent p {
        font-size: 3.2vw;
    }

    .storyContent h5 {
        font-size: 3.8vw;
    }

    .clients h1 {
        font-size: 5vw;
    }

    .clients p {
        font-size: 4vw;
    }

    .requestAccount-2 h1 {
        font-size: 4vw;
    }

    .navAccount-2 {
        font-size: 3.5vw;
    }

    .bg-mobile {
        width: 100%;
    }

    .projects h1 {
        font-size: 5.4vw;
    }

    .projects h3 {
        font-size: 4vw;
    }
    .projects p{
        font-size: 2.5vw;
    }

    .requestAccount h1 {
        font-size: 5vw;
    }

    .requestAccount p {
        font-size: 3vw;
    }

    .signInAccount {
        background: white;
        color: #0E508F;
        font-weight: 700;
        font-size: 3vw;
    }

    .footerSubscribeButton button {
        font-size: 3.2vw;
    }

    .list-unstyled a.text-light {
        font-size: 3.6vw;
    }

    .footerIcon i {
        font-size: 6vw;
    }

    .footerCopyRight p {
        font-size: 3vw;
    }

}