* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}
@font-face {
    font-family: "Helvetica-light";
    src: url(..\FONTS\Helvetica\ Light\ Regular.otf);
}

.upperDiv span {
    font-family: 'Helvetica';
    font-style: normal;
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;

}

.nav-link {
    color: white;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.navAccount {
    background: #90DD01;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-align: center;
}

.headerBlogs h1 {
    font-weight: 700;
    font-size: 3vw;
    color: #14416E;
}

.contentBlog p {
    font-family: "Helvetica-light";
    font-size: 1.3vw;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #0E508F;
}
.footer {
    background: #0E508F;
}

.footerIcon {
    color: white;
}

.footerIcon i {
    font-size: 2vw;
}

.footerInfo {
    font-family: "Helvetica-light";
    font-size: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}

.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
    width: 51%;
}
.footerSubscribeButton input:focus {
    outline: none;
}
.footerSubscribeButton input::placeholder {
    color: white;
  }

.footerSubscribeButton button {
    border: none;
    font-family: "Helvetica-light";
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #0E508F;
}

.footerCopyRight p {
    font-size: 1.3vw;
}

.footerCopyRight p {
    font-size: 1.3vw;
}

/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }

    .navLogIn {
        font-size: 2.5vw;
        color: white;
        text-align: center;
    }

    .navAccount {
        font-size: 2.5vw;
        color: white;
        text-align: center;
    }
    .headerBlogs h1 {
        font-size: 5vw;
    }
    .contentBlog p {
        font-size: 3.5vw;
    }
    .footerSubscribeButton button {
        font-size: 3.2vw;
    }
    .list-unstyled a.text-light {
        font-size: 3.6vw;
    }

    .footerIcon i {
        font-size: 6vw;
    }

    .footerCopyRight p {
        font-size: 3vw;
    }
}