* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    font-style: normal;
}
@font-face {
    font-family: "Helvetica-light";
    src: url("../FONTS/HelveticaLightRegular.otf");
}

.upperDiv span {
    font-style: normal;
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #0E508F;
}

nav {
    background: #0E508F;
}

.active {
    background: white;
    color: #0E508F;
    border-radius: 30px;
}
.nav-link {
    color: white;
}

.navHover a:hover {
    background: #0E508F;
    color: white !important;
}


.navLogIn:hover {
    background: #5d86ad;
    color: white !important;
}


.navAccount:hover {
    background: white;
    color: #0E508F;
}

.navLogIn {
    background: #5d86ad;
    font-weight: 500;
    color: white;
    text-align: center;
}

.navLogIn a {
    font-weight: 700;
    font-size: 16px;
    color: #0E508F;
    text-align: center;
}

.navAccount {
    font-weight: 500;
    font-size: 1.3vw;
    background: white;
    text-align: center;
}

.headerBlogs h1 {
    font-weight: 700;
    font-size: 3vw;
    color: #14416E;
}
.blogImg{
    width: 100%;
    height: 70vh;
}
.contentBlog p {
    font-family: "Helvetica-light";
    font-size: 1.3vw;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #0E508F;
}
.footer {
    background: #0E508F;
}

.footerInfo {
    font-family: "Helvetica-light";
    font-size: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footer h3{
    font-weight: 700; 
    font-size: 20px;
}
.footer li a{
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}
.footerSubscribeButton {
    background: rgba(255, 255, 255, 0.15);
    width: 78%;
}

.footerSubscribeButton input {
    border: none;
    background: transparent;
    color: white;
}

.footerSubscribeButton input:focus {
    outline: none;
}

.footerSubscribeButton input::placeholder {
    color: white;
}

.footerSubscribeButton button {
    border: none;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footerSubscribeButton button a {
    color: #0E508F;
}

.footer li p{
    font-size: 1.2vw;
}
.footerCopyRight p {
    font-size: 1.3vw;
}

/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 767px) {
    .upperDivSpan {
        display: none !important;
    }

    .upperDiv {
        justify-content: center !important;
    }
    .navLogIn a {
        text-align: center;
    }
    .headerBlogs h1 {
        font-size: 5vw;
    }
    .contentBlog p {
        font-size: 2.5vw;
    }


    .footerSubscribeButton button {
        font-size: 2vw;
    }

    .list-unstyled a.text-light {
        font-size: 2vw;
    }
    .footer li p{
        font-size: 2vw;
    }

    .footerIcon i {
        font-size: 6vw;
    }

    .footerCopyRight p {
        font-size: 3vw;
    }
}
/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 576px) {
    .navLogIn a {
        font-size: 3vw;
        text-align: center;
    }
    .blogImg{
        height: 40vh;
    }
    .footer li p {
        font-size: 3vw;
    }
    .footerSubscribeButton button {
        font-size: 3vw;
        font-weight: 700;
    }
    .list-unstyled a.text-light {
        font-size: 3.3vw;
    }
    .footerInfo {
        font-family: "Helvetica-light";
        font-size: 13px;
    }
}